/**
 * Date:19/12/2020
 * Author: Muhammad Minhaj
 * Title: Style For Contact Component
 * Description: This is a Home page of root path
 * **/

.contactForm,
.contactAddress {
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  margin: 0.5rem;
  box-shadow: 0pt 0pt 1pt #5a5151;
}
.contactAddress {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contactAddress .item {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  border-top: 10px solid #1a2331;
  /* box-shadow: 1pt -3pt 1pt 0pt #1a2331; */
  border-radius: 10px 10px;
  padding: 0.5rem;
  border-bottom: 10px solid #1a2331;
}
.contactAddress .item .icon > svg {
  font-size: 3.5rem;
  color: #bbbbbb;
}

.contactAddress .item .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 0.75rem;
}
.contactAddress .item .content > h2 {
  color: #607d8b;
}
.contactAddress .item .content > h4 {
  display: flex;
  align-items: center;
  color: #fafafae0;
}

.contactAddress .item .content > h4 > svg {
  color: #607d8b;
}

@media only screen and (max-width: 576px) {
  .contactAddress .item {
    margin: 10px 0px;
  }
}
