/**
 * Date:19/12/2020
 * Author: Muhammad Minhaj
 * Title: Style For Contact Component
 * Description: Style For Contact Component
 * **/

.contactForm,
.contactAddress {
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  margin: 0.5rem;
  background: var(--front);
}
.contactAddress {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contactAddress .item {
  display: flex;
  border-top: 10px solid var(--bg);
  border-radius: 10px;
  padding: 0.5rem;
}
.contactAddress .item .icon > svg {
  font-size: 3.5rem;
  color: var(--muted);
}

.contactAddress .item .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 0.75rem;
}
.contactAddress .item .content .title,
.contactAddress .item .content .text {
  font-weight: bold;
}
.contactAddress .item .content .title {
  font-size: 1rem;
  color: var(--text);
}
.contactAddress .item .content .text {
  color: var(--muted);
}
@media only screen and (max-width: 576px) {
  .contactAddress .item {
    margin: 10px 0px;
  }
}
