.footer {
  min-height: 100px;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .social{
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
    padding: 10px 0px;
  }
  .footer .resume {
    margin: 20px 0px;
  }
  
}
