html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg: #111a28;
  --front: #192331;
  --footer: #202131;
  --text: #fff;
  --primary: #3f51b5;
  --secondary: #f50057;
  --muted: #b1b1b1;
}

.theme {
  background: #111a28 !important;
}

#__next {
  background: var(--bg);
}
/* .active {
  background: red !important;
} */

/* Scroll Style*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    95deg,
    rgb(242, 113, 33) 0%,
    rgb(233, 64, 87) 50%,
    rgb(138, 35, 135) 100%
  );
  border-radius: 5px;
}
h1,
h2 {
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

input,
textarea {
  color: var(--text) !important;
}
.MuiPaginationItem-root {
  color: var(--text) !important;
}
@media only screen and (max-width: 576px) {
  .MuiTimelineOppositeContent-root {
    display: none !important;
  }
}
