/* Navbar Root Element */
.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0rem;
}

/* Navbar Item */
.nav_item {
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
}
.nav_item a {
  cursor: pointer;
}
.nav_item:hover {
  color: #f50057;
}
/* Circale runner */
.navCirculer {
  display: flex;
  justify-content: space-around;
  border: 1px solid #c30c4d;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 0.5rem;
}
.navCirculer span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #c30c4d;
  transition: all 0.75s;
}
.activeCircle {
  background: #f50057;
  transform: scale(1.2);
}

.hideCircle {
  background: none;
  transform: scale(1);
}
/* Mobile Menu */
.mobileMenu {
  display: none;
}

/* Responsive For Style */
@media only screen and (max-width: 576px) {
  .navbar {
    /* display: block; */
    width: 180px;
    height: 100%;
    background: var(--bg);
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
  }
  .nav_item {
    margin: 10px 0px;
    text-align: center;
    color: white;
    font-size: 16px;
  }
  .nav_item a {
    display: block;
  }
  .mobileMenu {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }
  .closeIcon {
    text-align: center;
    padding: 10px;
    background: var(--bg);
    border-bottom: 1px solid #0000003d;
    color: white;
  }
}
