.portfolio {
  color: var(--text);
}

.tabs {
  background: #192331;
  border-radius: 4px;
}
.card {
  background: #192331 !important;
  color: var(--text) !important;
}
.card .cardActions {
  border-top: 1px solid #111a28;
  padding: 0.8rem 0.6rem;
}
.card .cardActions .btn {
  color: var(--text);
}

.pagination {
  display: flex;
  justify-content: center;
}
.chip {
  margin-right: 0.25rem;
  color: #bdbdbd !important;
}
